<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-energized" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">How To</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <div class="row" data-comp-id="row.1" style="padding: 0px 12px; margin: 4px 0px;">
                <div class="col" data-comp-id="column.1">
                    <div class="" data-comp-id="text.1" style="font-size: 16px; color: rgb(51, 51, 51); font-weight: bold;">Purpose of the App</div>
                    <div class="" data-comp-id="text.2" style="color: rgb(51, 51, 51); line-height: 18px; margin: 4px 0px 0px;">The purpose of this sample app is to demonstrate how to:</div>
                    <div class="row" data-comp-id="row.2">
                        <div class="col" data-comp-id="column.2" style="max-width: 30px;">
                            <div class="" data-comp-id="text.3" style="color: rgb(51, 51, 51); line-height: 18px;">•</div>
                        </div>
                        <div class="col" data-comp-id="column.3">
                            <div class="" data-comp-id="text.4" style="color: rgb(51, 51, 51); line-height: 18px;">View issue list, view details of issues</div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.3">
                        <div class="col" data-comp-id="column.4" style="max-width: 30px;">
                            <div class="" data-comp-id="text.5" style="line-height: 18px; color: rgb(51, 51, 51);">•</div>
                        </div>
                        <div class="col" data-comp-id="column.5">
                            <div class="" data-comp-id="text.6" style="color: rgb(51, 51, 51); line-height: 18px;">Add new Issues, Update existing issues</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-comp-id="row.4" style="padding: 0px 12px; margin: 4px 0px;">
                <div class="col" data-comp-id="column.6">
                    <div class="" data-comp-id="text.7" style="font-size: 16px; color: rgb(51, 51, 51); font-weight: bold;">Prerequisites</div>
                    <div class="" data-comp-id="text.8" style="color: rgb(102, 102, 102); line-height: 18px; margin: 4px 0px 0px;"></div>
                    <div class="row" data-comp-id="row.5" style="margin: 0px;">
                        <div class="col" data-comp-id="column.7" style="max-width: 30px;">
                            <div data-comp-id="text.9" style="color: rgb(102, 102, 102); line-height: 18px;">•</div>
                        </div>
                        <div class="col" data-comp-id="column.8">
                            <div class="" data-comp-id="text.10" style="color: rgb(51, 51, 51); line-height: 18px;">SmartUX Studio installed and setup.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-comp-id="row.6" style="padding: 0px 12px; margin: 4px 0px;">
                <div class="col" data-comp-id="column.9">
                    <div class="" data-comp-id="text.11" style="font-size: 16px; color: rgb(51, 51, 51); font-weight: bold;">Steps to run the app</div>
                    <div class="row" data-comp-id="row.7">
                        <div class="col" data-comp-id="column.10" style="max-width: 30px;">
                            <div class="" data-comp-id="text.12" style="color: rgb(51, 51, 51); line-height: 18px;">1.</div>
                        </div>
                        <div class="col" data-comp-id="column.11">
                            <div class="" data-comp-id="text.13" style="color: rgb(51, 51, 51); line-height: 18px;">Open command prompt/terminal</div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.8">
                        <div class="col" data-comp-id="column.12" style="max-width: 30px;">
                            <div data-comp-id="text.14" style="color: rgb(102, 102, 102); line-height: 18px;">2.</div>
                        </div>
                        <div class="col" data-comp-id="column.13">
                            <div data-comp-id="text.15" style="color: rgb(51, 51, 51); line-height: 18px;">Go to directory
                                <br>
                                <span style="font-style: italic;">dataStore/templates/
                                    <br>
                                    MantisClassic/server</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.9">
                        <div class="col" data-comp-id="column.14" style="max-width: 32px;">
                            <div class="" data-comp-id="text.16" style="color: rgb(51, 51, 51); line-height: 18px;">3.</div>
                        </div>
                        <div class="col" data-comp-id="column.15">
                            <div class="" data-comp-id="text.17" style="color: rgb(51, 51, 51); line-height: 18px;">Check
                                <strong>node_modules</strong> subdirectory exists,</div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.10">
                        <div class="col" data-comp-id="column.16" style="max-width: 30px;">
                            <div class="" data-comp-id="text.18" style="color: rgb(51, 51, 51); line-height: 18px;"></div>
                        </div>
                        <div class="col" data-comp-id="column.17">
                            <div class="" data-comp-id="text.19" style="color: rgb(51, 51, 51); line-height: 18px;">
                                <strong>If not follow Steps a-c, otherwise continue to Step 4</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.11">
                        <div class="col" data-comp-id="column.18" style="max-width: 30px;">
                            <div class="" data-comp-id="text.20" style="color: rgb(51, 51, 51); line-height: 18px;"></div>
                        </div>
                        <div class="col" data-comp-id="column.19" style="max-width: 30px;">
                            <div class="" data-comp-id="text.21" style="color: rgb(51, 51, 51); line-height: 18px;">a.</div>
                        </div>
                        <div class="col" data-comp-id="column.20">
                            <div class="" data-comp-id="text.22" style="color: rgb(51, 51, 51); line-height: 18px;">Run the command
                                <strong>npm install</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.12">
                        <div class="col" data-comp-id="column.21" style="max-width: 30px;">
                            <div class="" data-comp-id="text.23" style="color: rgb(51, 51, 51); line-height: 18px;"></div>
                        </div>
                        <div class="col" data-comp-id="column.22" style="max-width: 30px;">
                            <div class="" data-comp-id="text.24" style="color: rgb(51, 51, 51); line-height: 18px;">b.</div>
                        </div>
                        <div class="col" data-comp-id="column.23">
                            <div class="" data-comp-id="text.25" style="color: rgb(51, 51, 51); line-height: 18px;">Verify
                                <strong>node_modules</strong> directory is created and present</div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.13">
                        <div class="col" data-comp-id="column.24" style="max-width: 30px;">
                            <div class="" data-comp-id="text.26" style="color: rgb(51, 51, 51); line-height: 18px;"></div>
                        </div>
                        <div class="col" data-comp-id="column.25" style="max-width: 30px;">
                            <div class="" data-comp-id="text.27" style="color: rgb(51, 51, 51); line-height: 18px;">c.</div>
                        </div>
                        <div class="col" data-comp-id="column.26">
                            <div class="" data-comp-id="text.28" style="color: rgb(51, 51, 51); line-height: 18px;">This will ensure node modules dependencies are installed</div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.14">
                        <div class="col" data-comp-id="column.27" style="max-width: 30px;">
                            <div class="" data-comp-id="text.29" style="color: rgb(51, 51, 51); line-height: 18px;"></div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.15">
                        <div class="col" data-comp-id="column.28" style="max-width: 30px;">
                            <div class="" data-comp-id="text.30" style="color: rgb(51, 51, 51); line-height: 18px;">4.</div>
                        </div>
                        <div class="col" data-comp-id="column.29">
                            <div class="" data-comp-id="text.31" style="color: rgb(51, 51, 51); line-height: 18px;">Start the server application by typing in terminal: npm start.
                            </div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.16">
                        <div class="col" data-comp-id="column.30" style="max-width: 30px;">
                            <div class="" data-comp-id="text.32" style="color: rgb(51, 51, 51); line-height: 18px;">5.</div>
                        </div>
                        <div class="col" data-comp-id="column.31">
                            <div class="" data-comp-id="text.33" style="color: rgb(51, 51, 51); line-height: 18px;">Click the
                                <strong>Preview</strong> button to preview the app in the emulator.</div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.17">
                        <div class="col" data-comp-id="column.32" style="max-width: 30px;">
                            <div class="" data-comp-id="text.34" style="color: rgb(51, 51, 51); line-height: 18px;">6.</div>
                        </div>
                        <div class="col" data-comp-id="column.33">
                            <div class="" data-comp-id="text.35" style="color: rgb(51, 51, 51); line-height: 18px;">Switch/toggle off
                                <strong>Mock Server Data</strong> to view live-data.</div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.18">
                        <div class="col" data-comp-id="column.34" style="max-width: 30px;">
                            <div class="" data-comp-id="text.36" style="color: rgb(51, 51, 51); line-height: 18px;">7.</div>
                        </div>
                        <div class="col" data-comp-id="column.35">
                            <div class="" data-comp-id="text.37" style="color: rgb(51, 51, 51); line-height: 18px;">You will see the list of issues. Click on name or ID of any issue to see the details of that
                                issue
                            </div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.19">
                        <div class="col" data-comp-id="column.36" style="max-width: 30px;">
                            <div class="" data-comp-id="text.38" style="color: rgb(51, 51, 51); line-height: 18px;">8.</div>
                        </div>
                        <div class="col" data-comp-id="column.37">
                            <div class="" data-comp-id="text.39" style="color: rgb(51, 51, 51); line-height: 18px;">Click on the
                                <strong>Plus</strong> icon at the top right corner, to add a new issue</div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.20">
                        <div class="col" data-comp-id="column.38" style="max-width: 30px;">
                            <div class="" data-comp-id="text.40" style="color: rgb(51, 51, 51); line-height: 18px;">9.</div>
                        </div>
                        <div class="col" data-comp-id="column.39">
                            <div class="" data-comp-id="text.41" style="color: rgb(51, 51, 51); line-height: 18px;">Fill in all the required details and click on the
                                <strong>Submit Report</strong> button to submit the issue</div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.21">
                        <div class="col" data-comp-id="column.40" style="max-width: 30px;">
                            <div class="" data-comp-id="text.42" style="color: rgb(51, 51, 51); line-height: 18px;">10.</div>
                        </div>
                        <div class="col" data-comp-id="column.41">
                            <div class="" data-comp-id="text.43" style="color: rgb(51, 51, 51); line-height: 18px;">Click on the
                                <strong>Edit</strong> icon given against issue, to update that issue</div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.22">
                        <div class="col" data-comp-id="column.42" style="max-width: 30px;">
                            <div class="" data-comp-id="text.44" style="color: rgb(51, 51, 51); line-height: 18px;">11.</div>
                        </div>
                        <div class="col" data-comp-id="column.43">
                            <div class="" data-comp-id="text.45" style="color: rgb(51, 51, 51); line-height: 18px;">Modify the issue data and click on
                                <strong>Update Information</strong> button. It will update the issue and a message will be
                                shown if the issue is successfully updated</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>