<button class="button button-block button-positive" data-comp-id="button.1"
    ng-click="app.action('login', 'submit', this)"
    style="border-radius: 5px; border-color: rgba(255, 255, 255, 0); background-color: rgb(0, 142, 61);">
    <font size="4">Login</font>
</button>
<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive headerclr"
        data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Issue Created</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1"
        style="background-color: rgb(232, 232, 232);">
        <div class=" card" data-comp-id="div.1" style="margin: 12% 4%;">
            <div class="row" data-comp-id="row.1">
                <div class="col text-center" data-comp-id="column.1" style="margin: 14% 2%;">
                    <div data-comp-id="text.1"
                        style="color: rgb(0, 142, 61); font-size: 20px; font-weight: normal;">Operation Successful !</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.2" style="margin: 10% 14%;">
                    <button class="button button-block button-positive" data-comp-id="button.2"
                        ng-click="app.action('reportissuesuccess', 'gotohome', this)"
                        style="border-radius: 5px; border-color: rgba(255, 255, 255, 0); background-color: rgb(0, 142, 61);">
                        <font size="4">OK</font>
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>