<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class="headerclr bar-positive"
        data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-chevron-left" data-comp-id="button.1"
                ng-click="app.action('reportissues', 'gotohome', this)"
                style="color: rgb(255, 255, 255);"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1" style="color: rgb(255, 255, 255);">Create New Issue</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="" data-comp-id="ionic-content.1"
        style="background-color: rgb(232, 232, 232);">
        <div class=" card" data-comp-id="div.1">
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.1" style="margin: 2% 4%;">
                    <div data-comp-id="text.1"
                        style="font-size: 14px; color: rgb(153, 153, 153); font-weight: normal;"></div>
                    <div data-comp-id="text.2" style="color: rgb(102, 102, 102);">
                        <p>Summary
                            <span style="color:red">
                                *</span>
                        </p>
                    </div>
                    <label class="item item-input" data-comp-id="textInput.1"
                        style="border-width: 1px; border-style: solid; border-color: rgb(243, 243, 243);">
                        <input ng-model="data.Summary" type="text">
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.2" style="margin: 2% 4%;">
                    <div data-comp-id="text.3"
                        style="font-size: 14px; color: rgb(102, 102, 102); font-weight: normal;">
                        <p>Description
                            <span style="color:red">
                                *</span>
                        </p>
                    </div>
                    <label class="item item-input item-stacked-label light-bg"
                        data-comp-id="textAreaInput.1"
                        style="border-width: 1px; border-style: solid; border-color: rgb(243, 243, 243);">
                        <span class="input-label"></span>
                        <textarea ng-model="data.Description" rows="4"></textarea>
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.3">
                <div class="col" data-comp-id="column.3" style="margin: 2% 4%;">
                    <div data-comp-id="text.4"
                        style="font-size: 14px; color: rgb(102, 102, 102); font-weight: normal;">Steps To Reproduce</div>
                    <label class="item item-input item-stacked-label light-bg"
                        data-comp-id="textAreaInput.2"
                        style="border-width: 1px; border-style: solid; border-color: rgb(243, 243, 243); margin: 8px 0px 0px;">
                        <span class="input-label"></span>
                        <textarea ng-model="data.StepsToReproduce" rows="4"></textarea>
                    </label>
                </div>
            </div>
        </div>
        <div class=" card" data-comp-id="div.2">
            <div class="row" data-comp-id="row.4"
                style="border-bottom: 1px solid rgb(243, 243, 243);">
                <div class="col" data-comp-id="column.4" style="margin: 2% 4%;">
                    <label class="item  item-input item-select-icon positive-icon"
                        data-comp-id="selectInput.1">
                        <p>Categories
                            <span style="color:red">
                                *</span>
                        </p>
                        <select ng-model="data.category.selected"
                            ng-options="item as item.label for item in categories"></select>
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.5"
                style="border-bottom: 1px solid rgb(243, 243, 243);">
                <div class="col" data-comp-id="column.5" style="margin: 2% 4%;">
                    <label class="item  item-input item-select-icon positive-icon"
                        data-comp-id="selectInput.2">
                        <span class="input-label">Reproducibility</span>
                        <select ng-model="data.reproducibility.selected"
                            ng-options="item as item.label for item in reproducibility"></select>
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.6"
                style="border-bottom: 1px solid rgb(243, 243, 243);">
                <div class="col" data-comp-id="column.6" style="margin: 2% 4%;">
                    <label class="item  item-input item-select-icon positive-icon"
                        data-comp-id="selectInput.3">
                        <span class="input-label">Severity</span>
                        <select ng-model="data.Severity.selected"
                            ng-options="item as item.label for item in Severity"></select>
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.7"
                style="border-bottom: 1px solid rgb(243, 243, 243);">
                <div class="col" data-comp-id="column.7" style="margin: 2% 4%;">
                    <label class="item  item-input item-select-icon positive-icon"
                        data-comp-id="selectInput.4">
                        <span class="input-label">Priority</span>
                        <select ng-model="data.Prority.selected"
                            ng-options="item as item.label for item in Prority"></select>
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.8"
                style="border-bottom: 1px solid rgb(243, 243, 243);">
                <div class="col" data-comp-id="column.8" style="margin: 2% 4%;">
                    <div data-comp-id="text.5"
                        style="font-size: 14px; font-weight: normal; color: rgb(153, 153, 153); margin: 0px 0px 0px 14px;">
                        <p>
                            <span style="color:#666666; font-size:14px; ">View Status</span>
                        </p>
                    </div>
                    <ion-radio class="radio-button" data-comp-id="radio.1" style="border: none;">Public</ion-radio>
                    <ion-radio class="radio-button" data-comp-id="radio.2" style="border: none;">Private</ion-radio>
                </div>
            </div>
            <div class="row" data-comp-id="row.9">
                <div class="col" data-comp-id="column.9" style="margin: 2% 4%;">
                    <label class="item  item-input item-select-icon positive-icon"
                        data-comp-id="selectInput.5">
                        <span class="input-label">Assign To</span>
                        <select ng-model="data.assignTo.selected"
                            ng-options="item as item.label for item in assignTo"></select>
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.10">
                <div class="col" data-comp-id="column.10" style="margin: 2% 4%;">
                    <label class="item item-input item-attachment-icon positive-icon"
                        data-comp-id="attachmentInput.1" style="border:none;">
                        <span class="input-label">Upload File</span>
                        <input id="myFile" ng-model="app.data.image"
                            style="line-height : 22px; width:75%;" type="file">
                    </label>
                </div>
            </div>
        </div>
        <div data-comp-id="div.3" style="margin: 4%;">
            <div class="row" data-comp-id="row.11">
                <div class="col" data-comp-id="column.11">
                    <button class="button button-block button-positive" data-comp-id="button.2"
                        ng-click="submitissue()"
                        style="border-radius: 5px; border-color: rgba(255, 255, 255, 0); background-color: rgb(0, 142, 61);">
                        <font size="4">Submit Report</font>
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>